#macro(friendlyTruncateString $string $stringWordLimit $stringCharlimit)
#if ($UtilMethods.isSet($stringWordLimit) == false) #set ($stringWordLimit = 25) #end
#if ($UtilMethods.isSet($stringCharLimit) == false) #set ($stringCharLimit = 170) #end
	#set ($friendlyStringArr = $string.split("\s"))
	#set ($friendlyWordArr = [])
	#set ($friendlyOutString = "")
	#foreach ($word in $friendlyStringArr)
		#if ($foreach.count < $stringWordLimit)
			#set ($dummy = $friendlyWordArr.add("$word"))
		#end
	#end
	#foreach ($word in $friendlyWordArr)
		#if ($stringCharLimit > $math.add($word.length(), $friendlyOutString.length()))
			#set ($friendlyOutString = "$friendlyOutString $word")
		#else
			#set ($friendlyOutString = "$friendlyOutString...")
			#break
		#end
	#end
$!{friendlyOutString}
#end