####################
## Global Scripts ##
####################
#if ($SCRIPT_OPT_MODE == 'development')

#elseif ($SCRIPT_OPT_MODE == 'production')

#end

<!-- Queued CSS -->
$!{assetImports.bottom.css}
<!-- JS -->
$!{assetImports.bottom.js}
